.filter-search {
  background: rgba(223, 223, 222, 0.38);
  border-radius: 11px;
  padding: 8px 10px;
  align-items: center;
  border-top: 1px solid #ebebeb;
  color: #777777;

  .search-icon {
    border-right: 1px solid rgba(119, 119, 119, 0.88);
    margin-right: 5px;
    padding-right: 6px;
  }

  input {
    width: 100%;
    border: none;
    background: transparent;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}
